@{
    ViewData["Title"] = "ระบบจัดการต้นไม้";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับสู่ระบบจัดการต้นไม้</h1>
    <p>
        <div class="container">
            <a asp-area="" asp-controller="TREERMUTL" asp-action="Index"> เข้าสู่ระบบจัดการต้นไม้</a>
        </div>.
    </p>
</div>
